.App {
  font-family: Helvetica,sans-serif;
}

.todo-inputbox {
  align-items: center;
}

.todo-input-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todo-input-item input{
  border: 1px solid #cacccd;
  padding: 14px 60px 14px 11px;
  height: 100%;
  line-height: 24px;
  font-size: 16px;
  color: #565a5c;
}

.todo-input-item textarea {
  border: 1px solid #cacccd;
  padding: 11px 60px 11px 11px;
  height: 100%;
  line-height: 24px;
  font-size: 16px;    
  color: #565a5c;
}

.primary-btn {
  background-color: #3DC068;
  color: white;
  border: none;
  padding: 8px;
  width: 70px;
  cursor: pointer;
  font-size: 15px;
}

.btn-area {
  margin-bottom: 10px;
}

.secondaryBtn {
  background-color: rgb(92, 92, 92);
  border-radius: 0px;
  border: none;
  padding: 10px;
  width: 40%;
  cursor: pointer;
}

.btn-area .active {
  background-color: rgb(4, 192, 104);
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-list {
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.sub-todo {
  color: #282c34;
  text-align: left;
  list-style: disclosure-closed;
  margin: 0;
  padding-left: 15px;
}

.todo-list-item h4 {
  font-size: 25px;
  color: #4BE383;
  margin: 0px;
}

.todo-list-item h5 {
  margin-top: 8px;
  font-size: 12px;
  color: #A89EA2;
  text-align: left;
  margin-left: 33px;
}

.icon {
  font-size: 30px;
  cursor: pointer;
}

.check-icon {
  font-size: 22px;
  cursor: pointer;
  color: rgb(0, 230, 122);
  margin-left: 10px;
  margin-bottom: 5px;
}

.check-icon:hover {
  color: rgb(4, 192, 104);
}

.d-flex {
  display: flex;
  gap: 10px;
}

.checked {
  text-decoration: line-through;
  text-decoration-color: #282c34;
}

.checkbox_design {
  width: 15px;
}

.subtask-btn {
  font-size: 13px;
  padding: 8px;
  border: 1px solid black;
  background: transparent;
}

.todo-sub-task label {
  font-size: 13px;
}

.todo-sub-task input {
  padding: 3px;
  font-size: 15px;
  padding: 14px 11px;
}

.todo-sub-task textarea {
  padding: 3px;
  font-size: 15px;
  padding: 11px;
}

.accordion-button {
  background-color: none !important;
  color: #F5F5F5 !important;
}

.hidden {
  display: none;
}

.hover-effect {
  background-color: #f0f0f0;
  cursor: pointer;
}

.collapse {
  visibility: unset;
}

.timestamp {
  font-size: 12px;
  color: #6b7280;
  margin-top: 5px;
}

.select-box1 {
  font-size: 16px;
  padding: 13px 11px;
  line-height: 24px;
  color: #565a5c;
  height: 100%;
  border: 1px solid #cacccd;
}

.date-filter {
  border: 1px solid #cacccd;
  position: relative;
}

.date-filter .date-picker-container {
  border: none;
  font-size: 10px;
  position: relative;
  width: 45%;
}

.date-filter .date-picker-container input {
  width: 100%;
  border: none;
}

.accordion-button{
  background: transparent!important;
}

/* login page */

.box{
  height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.login_box{
  height: 80%;
  width: 60%;
  background: #eee;
}

.login_header{
  padding-top: 40px;
  padding-bottom: 23px;
  border-bottom: 3px solid #fff;
  border-radius: 30%/100%;
  color: black;
}

.login_header .heading{
  font-size: 35px;
  padding-bottom: 5px;
  font-weight: 700;
  color: #4b4b4c;
  margin: 0;
}

.login_body{
  height: 65%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.login_btn{
  color: #fff;
  background-color: #4285f4;
  font-size: 15px;
  line-height: 40px;
  border: 1px solid transparent;
  letter-spacing: .7px;
  padding: 0 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}